<p style="color: green"><%= notice %></p>

<h1>Посты</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Показать пост", article %>
    </p>
  <% end %>
</div>

<%= link_to "Новый пост", new_article_path %>
